@import url('config.css');
@import url('https://jaxellis.github.io/Steamy-Cyanide/web-hosted/downloads.css');
@import url('https://jaxellis.github.io/Steamy-Cyanide/web-hosted/game-page.css');
@import url('https://jaxellis.github.io/Steamy-Cyanide/web-hosted/library.css');
@import url('https://jaxellis.github.io/Steamy-Cyanide/web-hosted/outer-frame.css');
@import url('https://jaxellis.github.io/Steamy-Cyanide/web-hosted/mini-profile.css');
@import url('https://jaxellis.github.io/Steamy-Cyanide/web-hosted/music-library.css');
@import url('https://jaxellis.github.io/Steamy-Cyanide/web-hosted/properties.css');
@import url('https://jaxellis.github.io/Steamy-Cyanide/web-hosted/scrollbar.css');
@import url('https://jaxellis.github.io/Steamy-Cyanide/web-hosted/side-bar.css');

* {
	/* Disable Shadows & Transitions */
	transition: 0s !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
