/* Bottom Queue */
._1l0LmmqDUXH19SjfELddn7 {
	background: var(--downloadspagebg) !important;
}

/* Top Bar
   Left Portion
   Right Portion */
._3mZ2rKd2RECK4q4ufmsDYX.pHDI1ddoKXceD5KL7W-4z,
._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg._2KB3yVOsiRCK9qK6mwKl9c {
	background: var(--downloadspagetop) !important;
}

/* Top Bar Background when Downloading */
._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg {
	background-color: var(--foreground-color);
}

/* Top Bar L/R divider */
._3GBFL10vEfhI28U95WaqMj {
	display: none !important;
}

/* Dashed Line for "Up Next" */
.OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T {
	border: 2px dashed var(--yourcolor);
}

/* "Up Next" When holding upload item  */
.OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T.d9VKGABvFZQGmdqtaicMo {
	border: 2px solid var(--yourcolor);
	background: none !important;
}

/* "Unscheduled" Item */
._1VNuYHM6BPBOJspC6zPf5r._3-SbBb63lDnu6LzKV-q3Cg {
	background-color: var(--background-color);
}
._1VNuYHM6BPBOJspC6zPf5r:hover {
	background-color: var(--foreground-color);
}

/* Completed */
/* Main Container */
/*!TODO fix theming for on:hover */
._3Mbhnlk1Go2j8yCdjthzc7 {
	button {
		background: var(--foreground-color) !important;
		color: var(--yourcolor) !important;
	}
}
