/* Spacer between header and main library container */
._2CmrnGY-Amtd83ScJkFvx2 {
	display: none !important;
}

/* Slider Background / Above library */
._2gSXCB6PbOlMxslr8hm6dm {
	background: var(--background-color) !important;
	background-image: none !important;
}

/* What's New Container */
._17uEBe5Ri8TMsnfELvs8-N {
	background-image: none !important;
}
/* What's New Game Title  */
._3_xMyCJAh_Dv99KgZ54P3j {
	background-color: var(--foreground-color) !important;
}
._3_xMyCJAh_Dv99KgZ54P3j:hover {
	background-color: var(--foreground-lighter-color) !important;
}
._3_xMyCJAh_Dv99KgZ54P3j span {
	color: var(--textcolor) !important;
}

/* Shelves / Add Shelves Container */
._3Sb2o_mQ30IDRh0C72QUUu {
	background-image: none !important;
}
/* Shelf: Sort By */
._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown_CurrentDisplay {
	background-color: var(--foreground-color) !important;
	color: var(--textcolor) !important;
}
._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown_Arrow {
	background-color: var(--foreground-color) !important;
	color: var(--textcolor) !important;
}
._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown_Arrow > svg {
	fill: var(--textcolor) !important;
}
/* Shelf: All Games: "Sortable" Pill Info per game */
._1LJqx_qFOC8199RBQO5kU8 {
	background-color: var(--foreground-color) !important;
	color: var(--textcolor) !important;
	font-weight: bold;
}

/* Library List Background */
._3x1HklzyDs4TEjACrRO2tB {
	background-image: none !important;
	background-color: var(--foreground-color) !important;
}

/* Library List Category */
._2sYIghGVXJr6tsQVvcryy8 {
	background: linear-gradient(
		to right,
		var(--foreground-lighter-color) 40%,
		var(--foreground-color) 100%
	) !important;
}
._2sYIghGVXJr6tsQVvcryy8:hover {
	background: var(--foreground-lighter-color) !important;
}

/* Category Text */
._3cV3O8FnPQqpJO5kIMUlLX > span,
._3cV3O8FnPQqpJO5kIMUlLX > div {
	color: var(--textcolor) !important;
}

/* Category Selected Background */
._2Dd4T78PcCTUVgOtDGFY5j,
._2sNr7PFYcJZWNkEMCDVVPR {
	background: none !important;
}

/* Library List Game Hovered 
Element created when game name is longer than the container width
*/
._2-O4ZG0KrnSrzISHBKctFQ:hover,
._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj {
	background: var(--foreground-lighter-color) !important;
}
/* Library List Game Active/Focused */
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ {
	background: var(--foreground-lighter-color) !important;
}
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ :hover,
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ:hover,
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj {
	background: linear-gradient(
		to right,
		var(--foreground-lighter-color) 20%,
		var(--background-color) 100%
	) !important;
	color: var(--yourcolor) !important;
	font-weight: bold;
}

/* Library List Game Text */
._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE {
	color: var(--textcolor);
}

/* Update Queued Text */
.-BsLCHlCHg50lwvxnBWt1 > div {
	color: var(--yourcolor) !important;
}

/*
Game Action Buttons 
Below contain any button related to taking action on the game (Play, Download, Stop)
These selectors should work for the entirety of steam and not just the library
*/

/* Play/Download/Stop Buttons */
div:has(> .SVGIcon_Play, > .SVGIcon_Download, > .SVGIcon_X_Line):not(
		.title-area-icon-inner
	) {
	background: var(--yourcolor) !important;
}
/* Icons */
.SVGIcon_Play > path,
.SVGIcon_Download > path,
.SVGIcon_Download > svg > path {
	fill: var(--foreground-color) !important;
}
/* Play/Stop Text */
.SVGIcon_Play + div,
.SVGIcon_X_Line + div,
.DesktopUI .Play.contextMenuItem,
.DesktopUI .Stop.contextMenuItem {
	color: var(--foreground-color) !important;
}
/* Stop "X" */
div:not(.title-area-icon-inner) > .SVGIcon_X_Line > line {
	stroke: var(--foreground-color) !important;
}

/*
Context Menu
Below is for the context menu of the Game library (Right click on a game)
Theme for Play/Stop/Download context menu is in the buttons above
*/

/* Main Container  */
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt {
	background: var(--foreground-color) !important;
}
/* Button Container */
._2EstNjFIIZm_WUSKm5Wt7n {
	background: var(--foreground-color) !important;
}
/* Active button */
._2EstNjFIIZm_WUSKm5Wt7n._18z-3vkWndCBO5WJgFldRK {
	background: var(--foreground-lighter-color) !important;
	color: var(--yourcolor) !important;
}
/* 
Button Text
*/
._2EstNjFIIZm_WUSKm5Wt7n > div {
	color: var(--textcolor) !important;
}
/* 
Hovered Items
*/
._2EstNjFIIZm_WUSKm5Wt7n > div:hover {
	background: var(--foreground-lighter-color) !important;
	color: var(--yourcolor) !important;
}
