/* Spacer between header and main library container */
._2CmrnGY-Amtd83ScJkFvx2 {
	display: none !important;
}

/* Slider Background / Above library */
._2gSXCB6PbOlMxslr8hm6dm {
	background: var(--background-color) !important;
	background-image: none !important;
}

/* "What's New" Container */
._17uEBe5Ri8TMsnfELvs8-N {
	background-image: none !important;
}

/* "What's New" Game Title  */
._3_xMyCJAh_Dv99KgZ54P3j {
	background-color: var(--foreground-color) !important;

	&:hover {
		background-color: var(--foreground-lighter-color) !important;
	}

	span {
		color: var(--textcolor) !important;
		font-weight: 400;
	}
}

/* Shelves / Add Shelves Container */
._3Sb2o_mQ30IDRh0C72QUUu {
	background-image: none !important;
}

/* Shelf: Sort By */
._1tBzypb5E2AwNuBuVns9Hl {
	.DialogDropDown_CurrentDisplay {
		background-color: var(--foreground-color) !important;
		color: var(--textcolor) !important;
	}

	.DialogDropDown_Arrow {
		background-color: var(--foreground-color) !important;
		color: var(--textcolor) !important;

		svg {
			fill: var(--textcolor) !important;
		}
	}
}

/* Shelf: All Games: "Sortable" Pill Info per game */
._1LJqx_qFOC8199RBQO5kU8 {
	background-color: var(--foreground-color) !important;
	color: var(--textcolor) !important;
	font-weight: bold;
}

/* "New to Library" banner */
.N8aJrSpxQ6II4CY_aFdYI {
	background-color: var(--yourcolor) !important;
	color: var(--foreground-color) !important;
}

/*
Game Action Buttons 
Below contain any button related to taking action on the game (Play, Download, Stop)
These selectors should work for the entirety of steam and not just the library
*/

/* 
Play
Download
Stop
Update - Update buttons don't have a generic class name
*/
div:has(
		> .SVGIcon_Play,
		> .SVGIcon_Download,
		> .SVGIcon_X_Line,
		> .SVGIcon_FlatArrow,
		> svg[enable-background='new 0 0 100 100']
	):not(.title-area-icon-inner) {
	background: var(--yourcolor) !important;

	/* Icons */
	.SVGIcon_Play,
	.SVGIcon_Download,
	.SVGIcon_FlatArrow {
		> path,
		> svg > path,
		> polygon {
			fill: var(--foreground-color) !important;
		}
	}
	/* Update Icon */
	svg[enable-background='new 0 0 100 100'] {
		fill: var(--foreground-color) !important;
	}

	/* Stop "X" */
	.SVGIcon_X_Line > line {
		stroke: var(--foreground-color) !important;
	}
}

/* Button Text 
Keep outside for Context Menu Text
*/
.SVGIcon_Play + div,
.SVGIcon_Download + div,
.SVGIcon_X_Line + div,
svg[enable-background='new 0 0 100 100'] + div,
.Play.contextMenuItem,
.Stop.contextMenuItem,
.Install.contextMenuItem {
	color: var(--foreground-color) !important;
	font-weight: bold !important;
}

/*
Context Menu
Below is for the context menu of the Game library (Right click on a game)
Theme for Play/Stop/Download context menu is in the buttons above
*/

/* Main Container  */
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt {
	background: var(--foreground-color) !important;
}
/* Button Container */
._2EstNjFIIZm_WUSKm5Wt7n {
	background: var(--foreground-color) !important;

	/* Active button */
	._18z-3vkWndCBO5WJgFldRK {
		background: var(--foreground-lighter-color) !important;
		color: var(--yourcolor) !important;
	}
	/* Button Text */
	> div {
		color: var(--textcolor) !important;
		&:hover {
			background: var(--foreground-lighter-color) !important;
			color: var(--yourcolor) !important;
		}
	}

	/* Properties Button */
	._1n7Wloe5jZ6fSuvV18NNWI {
		border: none !important;
	}
}
