/* Top Bar */
[class*='steamdesktop_OuterFrame_'] [class*='steamdesktop_TopBar_'] {
	background: var(--background-lighter);
}

/* Hide URL replacement div in Library */
[class*='steamdesktop_OuterFrame_'] [class*='steamdesktop_URLBarReplacement_'] {
	display: none;
}

/* Root Menu Top Bar Hover */
[class*='steamdesktop_OuterFrame_']
	[class*='steamdesktop_TopBar_']
	[class*='rootmenu_RootMenuBar_']
	[class*='rootmenu_RootMenuButton']:hover {
	color: var(--yourcolor);
}

/* Active Tab */
[class*='steamdesktop_OuterFrame_']
	[class*='steamdesktop_TopBar_']
	[class*='supernav_Selected_']
	[class*='supernav_MenuButton_'] {
	color: var(--yourcolor);
}
[class*='steamdesktop_OuterFrame_']
	[class*='steamdesktop_TopBar_']
	[class*='supernav_Selected_']
	[class*='supernav_MenuButton_']::after {
	background: var(--yourcolor);
}

/* Tab Hover */
[class*='steamdesktop_OuterFrame_']
	[class*='steamdesktop_TopBar_']
	[class*='supernav_MenuButton_']:hover {
	color: var(--yourcolor);
}

/* Bottom Bar */
[class*='steamdesktop_OuterFrame_'] [class*='bottombar_BottomBar_'] {
	background: var(--background-lighter);
}
