/* Top Bar */
._3Z7VQ1IMk4E3HsHvrkLNgo {
	background: var(--foreground-color);
}

/* URL Refresh Icon */
._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K ._3KaB94Jl4r0hFkthDPJy09:hover {
	background-color: var(--foreground-lighter-color);
}

/* URL bar in the Store */
.UkR3sY319PuaUNuUWks2K {
	background-color: var(--foreground-color) !important;
}
._1bGewp3tfzqAF6fVTFFUOz
	.UkR3sY319PuaUNuUWks2K
	._2m_orETo6AghzAnc0sISCt
	.MZPxEZcxAGtPDf1NYtouS {
	color: var(--textcolor);
}
/* URL On Hover */
._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K ._2m_orETo6AghzAnc0sISCt:hover {
	background-color: var(--foreground-lighter-color) !important;
}
._1bGewp3tfzqAF6fVTFFUOz
	.UkR3sY319PuaUNuUWks2K
	._2m_orETo6AghzAnc0sISCt:hover
	.MZPxEZcxAGtPDf1NYtouS {
	color: var(--yourcolor);
}

/* URL 'Copied' popup */
._3cXgxM5dBuTxGOOYw0lxsP {
	background-color: var(--background-color);
	color: var(--yourcolor);
}

/* Page Tab Text */
._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
	color: var(--textcolor);
}

/* Page Active Tab */
._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo)
	._19axKcqYRuaJ8vdYKYmtTQ {
	color: var(--yourcolor);
}
._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo)
	._19axKcqYRuaJ8vdYKYmtTQ::after {
	background: var(--yourcolor);
}

/* Page Tab Hover */
._7AlhCx3XGzBeIrQaCneUD._3rgV8pPmQvZC-01x91-q-N:hover {
	color: var(--yourcolor);
}

/* Bottom Bar */
._3vCzSrrXZzZjVJFZNg9SGu {
	background: var(--foreground-color);
}
