/* Main Background */
._3x1HklzyDs4TEjACrRO2tB {
	background-image: none !important;
	background-color: var(--background-color) !important;

	/* Library Home Container */
	._2TKEazUUS3TlniZfpc8OOe {
		background-color: unset !important;

		/* Home Button */
		._3pSPluBgf0NeR1kkCLWMhR {
			background-color: var(--foreground-color) !important;
		}
	}
}

/* Categories */
._2sYIghGVXJr6tsQVvcryy8 {
	background: linear-gradient(
		to right,
		var(--foreground-lighter-color) 40%,
		var(--foreground-color) 100%
	) !important;

	&:hover {
		background: var(--foreground-lighter-color) !important;
	}
}

/* Category Text */
._3cV3O8FnPQqpJO5kIMUlLX {
	> span,
	> div {
		color: var(--textcolor) !important;
	}
}

/* Category Selected Background */
._2Dd4T78PcCTUVgOtDGFY5j,
._2sNr7PFYcJZWNkEMCDVVPR {
	background: none !important;
}

/* SVG List Filters | Recent/Ready to play */
.SVGIcon_SortBy,
.SVGIcon_ReadyToPlay {
	fill: var(--yourcolor) !important;

	circle,
	path,
	polyline {
		stroke: var(--yourcolor) !important;
	}
}

/* Game Hovered 
Element created when game name is longer than the container width
*/
._2-O4ZG0KrnSrzISHBKctFQ:hover,
._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj {
	background: var(--foreground-lighter-color) !important;
}

/* Game Active/Focused */
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ {
	background: var(--foreground-lighter-color) !important;
}
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ :hover,
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ:hover,
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj {
	background: linear-gradient(
		to right,
		var(--foreground-lighter-color) 20%,
		var(--background-color) 100%
	) !important;
	color: var(--yourcolor) !important;
	font-weight: bold;
}

/* Game Text */
._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE {
	color: var(--textcolor);
}

/* "Update Queued" Text */
.-BsLCHlCHg50lwvxnBWt1 > div {
	color: var(--yourcolor) !important;
}
