/* Base Theme
TODO! Fix game/category header
*/
@import url('https://jaxellis.github.io/Steamy-Cyanide/web-hosted/friends-theme.min.css');

/* Customizable Settings

Use RGB Values for colors 
https://www.w3schools.com/colors/colors_picker.asp

*/
:root {
	--avatar-radius: 50%;
	--avatar-border: 0;
	--padding: 4px;
	--padding-sm: 2px;
	--padding-lg: 8px;
	--padding-xl: 16px;
	--version: 0.1;

	/* USE RGB COLOR VALUES BELOW */
	--unreadmessage: 8, 127, 35;
	--nickname: 173, 181, 189;

	/* Friends List Background Color */
	--friendlist: 0, 0, 0;

	/* Header/Footer, Settings Foreground color */
	--header: 10, 10, 10;
	--footer: var(--header);

	/* Text Color */
	--text: 0, 255, 255;
	--listtext: 0, 255, 255;

	/* Icon background Color */
	--icon: 0, 255, 255;
	--iconhover: 210, 210, 210;

	/* Active In-game Friend Text Color */
	--ingame: 100, 220, 0;

	/* Online Friend Text Color */
	--online: 88, 200, 255;

	/* Away Friend Text Color */
	--away: 255, 180, 50;
	--away-in-game: var(--away);

	/* Watching Broadcast Text Color */
	--watching: 149, 117, 205;

	/* Offline Friend Text Color */
	--offline: 145, 145, 145;

	/* Active Button Background Color */
	--button-on: 0, 230, 230;

	/* Inactive Button Background Color */
	--button-off: 15, 15, 15;

	/* Scrollbar Color */
	--scrollbar-primary: 0, 230, 230;

	/* Scrollbar Color on Hover*/
	--scrollbar-primary-hover: 0, 255, 255;

	--scrollbar-secondary: var(--scrollbar-primary);
	--scrollbar-secondary-hover: var(--scrollbar-primary-hover);

	/* TODO! Comment these vars */
	--window-control-icon-color: var(--icon);
	--window-control-icon-color-hover: var(--iconhover);
	--window-control-bg-color: transparent;
	--window-control-bg-color-hover: rgb(10, 10, 10);
	--window-control-exit-bg-color: transparent;
	--window-control-exit-bg-color-hover: #f04747;
	--window-control-exit-icon-color-hover: var(
		--window-control-icon-color-hover
	);
}
